body {
    font-family: Arial, sans-serif;
    background-color: #0a0a0a;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav-photo {
    height: 60px; /* Ajusta el tamaño de la foto */
    width: 60px;
    border-radius: 50%;
    position: absolute;
    left: 20px; /* La deja fija en la izquierda */
    top: 50%;
    transform: translateY(-50%); /* Centra la imagen verticalmente */
}

.header-content {
    text-align: center;
    flex-direction: column;
}

h1 {
    margin: 0;
    font-size: 28px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #00aaff;
    text-decoration: none;
}


section {
    padding: 100px 20px;
    min-height: 100vh;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-in-out;
}

section.active {
    opacity: 1;
    transform: translateY(0);
}

.project img {
    width: 100%;
    max-width: 400px;
    border: 2px solid #00aaff;
    border-radius: 10px;
}

footer {
    background-color: #111;
    padding: 20px;
    margin-top: 20px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons img {
    width: 30px;
    margin: 0 10px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.2);
}

/* Botón flotante de WhatsApp */
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 1000;
}

.whatsapp-float img {
    width: 100%;
    transition: transform 0.3s;
}

.whatsapp-float img:hover {
    transform: scale(1.2);
}
